.main {
    align-items: left;
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
}

.main--photo{
    width: 100%;
    height: 200px;
}

.main--text{
    font-size: 24px;
    color: #381302;
    text-align: left;
    text-decoration: underline;
}