.comment{
    padding: 10px;
    align-items: center;
    text-align:left;
    background-color: #F1D39C;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 30px;
    color: #381302;
}

.comment--comment{
    margin: 0ch;
    font-weight: 28px;
}

.comment--image{
    width: 70px;
    height: 100px;
    margin: 10px;
    margin-left: 50px;
    display: inline-block;
}

.comment--info{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.comment--user{
    font-weight: 20px;
}