.specificView--photo {
    width: 100%;
    height: 200px;
}


.specificView--content{
    vertical-align: top;
}

.specificView--infoPhoto {
    display: inline-block;
    width: 40%;
    align-content: center;
    text-align: center;
}

.specificView--bookReview{
    margin: 30px;
    margin-left: 350px;
    display: block;
}

.specificView--bookReviewSubmit{
    margin: 0px;
    border-radius: 20px;
    background-color: #381302;
    color: #F8EBCC;
    border-color: transparent;
    align-content: center;
    cursor: pointer;
    transition: 0.3s;
    width: 10%;
    height: 30px;
}

.specificView--bookReviewContent{
    align-items: center;
    align-content: center;
    text-align: center;
    display: none;
}

.specificView--bookPhoto {
    width: 40%;
    padding: 0vw 1vw;
    margin: 50px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.specificView--bookInfo {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-left: 0px;
}


.specificView--bookRating {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.specificView--bookInfo {
    text-align: justify;
    width: 60%;
    height: fit-content;
}

.specificView--bookSynopsis {
    padding-right: 200px;
    padding-left: 20px;
    font-weight: 18px;
}

.specificView--bookName{
    font-size: 42px;
    margin: 0px;
    color: #381302;
    font-weight: bolder;
}

.specificView--bookAuthor{
    color: #381302;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 0px;
}

.specificView--bookWriteReview {
    margin: 0px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #381302;
    color: #F8EBCC;
    border-color: transparent;
    align-content: center;
    cursor: pointer;
    transition: 0.3s;
    width: 30%;
    height: 30px;
}

.specificView--bookAverageRating{
    color: #381302;
    font-size: 20px;
    margin-left: 20px;
}

.specificView--bookWriteReview:hover{
    background-color: #75420E;
}

.specificView--bookReviewSubmit:hover{
    background-color: #75420E;
}

/*.sidebar {
    width: 35%;
    height: fit-content;
    padding: 1vh 3vw 0px 0px;
}*/



.specificView--comments {
    padding: 0px 3vw;
    width: 80%;
    align-items: center;
}

.specificView--bookButton{
    margin: 45px;
    border-radius: 20px;
    background-color: #381302;
    color: #F8EBCC;
    border-color: transparent;
    align-content: center;
    cursor: pointer;
    transition: 0.3s;
    width: 20%;
    height: 30px;
}

.specificView--bookButton:hover{
    background-color: #75420E;
}


.oferta1 {
    text-align: justify;
    margin: 1vw;
}

.specificView--bookComments {
    color: #381302;
    margin: 40px;
    margin-bottom: 2vh;
    margin-top: 90px;
    font-size: 28px;
}