body {
  margin: 0;
  font-family: Stempel Schneidler Std ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background: linear-gradient(72.44deg, #F8EBCC 54.78%, #AC793A 100%);
  background-attachment: fixed;
}