.myBooks--tittle{
  display: inline-block;
  font-size: 36px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
  color: #381302;
}

.myBooks--content{
  margin: 50px;
  margin-top: 0px;
}