.notification{
    background-color: #C4C4C4;
    text-align: left;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.notificationInfo{
    display: inline-block;
    align-content: center;
}

.userNotificationImage{
    width: 20px;
    display: inline;
}

.Info{
    display: inline;
}

.notificationImage{
    width: 80px;
    margin: 15px;
    display: inline-block;
}
